@model BettingApp.Models.Match

<tr>
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.TeamHome)
    @Html.HiddenFor(model => model.TeamAway)
    @Html.HiddenFor(model => model.Odds.Home)
    @Html.HiddenFor(model => model.Odds.Draw)
    @Html.HiddenFor(model => model.Odds.Away)

    @{
        var betHomeClass = Model.Bets.Home ? "btn btn-primary active" : "btn btn-primary";
        var betDrawClass = Model.Bets.Draw ? "btn btn-primary active" : "btn btn-primary";
        var betAwayClass = Model.Bets.Away ? "btn btn-primary active" : "btn btn-primary";
    }

    <td>
        <label>
            @Html.DisplayFor(model => model.TeamHome) : @Html.DisplayFor(model => model.TeamAway)
        </label>
    </td>

    @*<td>
            TODO TOHLE FUGUJE AKORAT PRVNI CHECK NIC NEUDĚLÁ - je to invertovaný?
            https://getbootstrap.com/docs/4.1/components/buttons/ - Checkbox and radio buttons
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                    @Html.CheckBoxFor(model => model.Bets.Home, new { htmlAttributes = new { @class = "form-control" } })
                    @Model.Odds.Home
                </label>
            </div>
            @Html.ValidationMessageFor(model => model.Bets.Home, "", new { @class = "text-danger" })

            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="@betHomeClass">
                    @Html.CheckBoxFor(model => model.Bets.Home, new { htmlAttributes = new { @class = "form-control" } })
                    @Model.Odds.Home
                </label>
            </div>
            @Html.ValidationMessageFor(model => model.Bets.Home, "", new { @class = "text-danger" })
        </td>*@

    <td>
        <label class="@betHomeClass">
            @Html.CheckBoxFor(model => model.Bets.Home, new { htmlAttributes = new { @class = "form-control" } })
            @Model.Odds.Home
        </label>
        @Html.ValidationMessageFor(model => model.Bets.Home, "", new { @class = "text-danger" })
    </td>
    <td>
        <label class="@betDrawClass">
            @Html.CheckBoxFor(model => model.Bets.Draw, new { htmlAttributes = new { @class = "form-control" } })
            @Model.Odds.Draw
        </label>
        @Html.ValidationMessageFor(model => model.Bets.Draw, "", new { @class = "text-danger" })
    </td>
    <td>
        <label class="@betAwayClass">
            @Html.CheckBoxFor(model => model.Bets.Away, new { htmlAttributes = new { @class = "form-control" } })
            @Model.Odds.Away
        </label>
        @Html.ValidationMessageFor(model => model.Bets.Away, "", new { @class = "text-danger" })
    </td>
</tr>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
