@model BettingApp.Models.Match

<tr>
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.TeamHome)
    @Html.HiddenFor(model => model.TeamAway)
    @Html.HiddenFor(model => model.Odds.Home)
    @Html.HiddenFor(model => model.Odds.Draw)
    @Html.HiddenFor(model => model.Odds.Away)
    <td>
        @Html.DisplayFor(model => model.TeamHome) : @Html.DisplayFor(model => model.TeamAway)
    </td>
    <td>
        @Html.DisplayFor(model => model.Odds.Home)
        @Html.EditorFor(model => model.Bets.Home, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Bets.Home, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DisplayFor(model => model.Odds.Draw)
        @Html.EditorFor(model => model.Bets.Draw, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Bets.Draw, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DisplayFor(model => model.Odds.Away)
        @Html.EditorFor(model => model.Bets.Away, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Bets.Away, "", new { @class = "text-danger" })
    </td>
</tr>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
