@model IEnumerable<BettingApp.Models.Match>
@*@model BettingApp.ViewModels.MatchesViewModel*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Bet", "Matches", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<table class="table">
    <tr>
        <th>
            Match
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odds.Home)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odds.Draw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odds.Away)
        </th>
    </tr>
    @Html.EditorForModel()
</table>

    <div class="form-actions no-color">
        <input type="submit" value="Bet" class="btn btn-default" />
    </div>
}
